NET "button<0>" LOC = P124 | IOSTANDARD = LVTTL | PULLDOWN;	
NET "button<1>" LOC = P127 | IOSTANDARD = LVTTL | PULLDOWN;	
NET "button<2>" LOC = P132 | IOSTANDARD = LVTTL | PULLDOWN;	
NET "button<3>" LOC = P134 | IOSTANDARD = LVTTL | PULLDOWN;	
NET "button<4>" LOC = P138 | IOSTANDARD = LVTTL | PULLDOWN;
NET "button<5>" LOC = P140 | IOSTANDARD = LVTTL | PULLDOWN;

NET "io_pin<0>"  LOC = P123 | IOSTANDARD = LVTTL;
NET "io_pin<1>"  LOC = P126 | IOSTANDARD = LVTTL;
NET "io_pin<2>" LOC = P131 | IOSTANDARD = LVTTL;
NET "io_pin<3>" LOC = P133 | IOSTANDARD = LVTTL;
NET "io_pin<4>" LOC = P137 | IOSTANDARD = LVTTL;
NET "io_pin<5>" LOC = P139 | IOSTANDARD = LVTTL;

NET "led_pin<0>" LOC = P80 | IOSTANDARD = LVTTL;
NET "led_pin<1>" LOC = P82 | IOSTANDARD = LVTTL;
NET "led_pin<2>" LOC = P84 | IOSTANDARD = LVTTL;
NET "led_pin<3>" LOC = P115 | IOSTANDARD = LVTTL;
NET "led_pin<4>" LOC = P117 | IOSTANDARD = LVTTL;
NET "led_pin<5>" LOC = P119 | IOSTANDARD = LVTTL;
NET "led_pin<6>" LOC = P121 | IOSTANDARD = LVTTL;